<app-nav-bar></app-nav-bar>
<div class="main-container"> 
<h2 class="adv-title">Company Search</h2>
<hr />
<div>
<form [formGroup]="searchForm">
  <div class="row" style="margin-top:10px;margin-bottom: 10px;">
    <div class="col-sm-12">
      <label class="adv-search-label" for="compcode">Company Code</label>
      <select formControlName="companyCode" class="form-control">
        <option>Choose Company Code</option>
        <option *ngFor="let company of companyList">{{company.companyCode}}</option>
      </select>
    </div>
    <div class="col-sm-12">
      <label class="adv-search-label" for="startDate">Start Date</label>
      <input type="date" name="startDate" placeholder="Start Date" class="form-control" formControlName="startDate" />
    </div>
    <div class="col-sm-12">
      <label class="adv-search-label" for="endDate">End Date</label>
      <input type="date" name="endDate" placeholder="End Date" class="form-control" formControlName="endDate" />
    </div>
    <div class="col-sm-12">
      <button type="submit" class="btn mr-md-2 mb-md-0 mb-2 btn-primary adv-search-btn"
        (click)="searchCompanyDetails()">Search</button>
    </div>
  </div>
</form>
<br>
</div>

<div class="row" *ngIf="showStockDetails">
  <div class="col-sm-12">
    <h1 class="text-center">Company Details</h1>
  </div>
  <div class="col-sm-12">
    <h1 class="text-center">The list of stock details associated with the company</h1>
  </div>
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Stock price ID</th>
          <th>Company Code</th>
          <th>Stock Price</th>
          <th>Stock Date</th>
          <th>Delete Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of stockDetails'>
          <td>{{data.stockPriceId}}</td>
          <td>{{data.companyCode}}</td>
          <td>{{data.stockPriceValue}}</td>
          <td>{{data.stockDate}}</td>
          <td><a>Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td><b>MIN Stock Price:</b></td><td>{{minStockPrice}}</td>
        <td><b>MAX Stock Price:</b></td><td>{{maxStockPrice}}</td>
        <td><b>AVG Stock Price:</b></td><td>{{avgStockPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

